@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        scroll-behavior: smooth;
    }

    .btn {
        @apply px-4 py-3 font-medium text-white bg-yellow-600 border rounded-full cursor-pointer hover:border-yellow-600 hover:text-gray-900 hover:bg-transparent focus:outline-none;
    }

    .btn-2 {
        @apply px-4 py-3;
        @apply font-medium text-gray-900;
        @apply bg-transparent;
        @apply border border-yellow-600 rounded-full cursor-pointer;
        @apply hover:bg-yellow-600 hover:text-white;
    }

    .btn-contact {
        @apply px-2 py-2 font-medium text-white bg-yellow-600 border rounded-full cursor-pointer hover:border-yellow-600 hover:bg-transparent focus:outline-none;
    }

    .project-remind-btn {
        @apply px-4 py-3 bg-white border border-white;
        @apply font-medium text-yellow-600;
        @apply rounded-full cursor-pointer;
        @apply hover:bg-transparent hover:text-white;
    }

    progress {
        -webkit-appearance: none;
        height: 1rem;
        overflow: hidden;
    }

    progress::-webkit-progress-bar {
        @apply bg-gray-300;
    }

    progress::-webkit-progress-value {
        @apply bg-yellow-600;
    }

    .bg-image {
        background-image: url('/pattern-bg.png');
        background-position: center;
        background-size: cover;
    }

    .bg-image-2 {
        background-image: url('/worldmapbg.png');
        background-size: cover;
        background-position: center;
    }

    .section-bg-color {
        @apply bg-blue-50;
    }

    .intro-box {
        @apply bg-gray-100;
        @apply used-grid-template-1;
        @apply items-center text-center sm:text-left;
        @apply py-[7%] px-[10%];
    }

    .section-box {
        @apply flex flex-col items-center py-[7%] px-[10%];
    }

    .section-heading-1 {
        @apply mb-2 text-lg font-medium text-center text-yellow-600;
    }

    .section-heading-2 {
        @apply mb-10 text-3xl font-black text-center text-gray-900;
    }

    .timeline {
        @apply pl-4 border-l border-yellow-600 ;
    }

    .used-grid-template-1 {
        @apply w-full grid gap-y-8 sm:grid-cols-2 sm:gap-x-[10%];
    }

    .used-grid-template-2 {
        @apply w-full grid gap-y-14 sm:grid-cols-2 sm:gap-x-[10%];
    }

    .btns-grid-template {
        @apply grid gap-y-2 sm:grid-flow-col sm:auto-cols-max sm:gap-x-4;
    }

    .btns-grid-template-2 {
        @apply w-full grid gap-y-2 sm:grid-cols-2 sm:gap-x-[10%];
    }

    .used-flex-template {
        @apply flex flex-col space-y-8;
    }

    .used-flex-template-2 {
        @apply flex flex-col space-y-6;
    }

    .slider {
        @apply relative;
        @apply w-full;
    }

    .left-slider-btn {
        @apply absolute;
        @apply top-1/2 left-[5%];
        @apply h-10;
        @apply z-10;
        @apply cursor-pointer;
        @apply select-none;
        @apply invisible sm:visible;
    }

    .right-slider-btn {
        @apply absolute;
        @apply top-1/2 right-[5%];
        @apply h-10;
        @apply z-10;
        @apply cursor-pointer;
        @apply select-none;
        @apply invisible sm:visible;
    }

    .slide {
        @apply opacity-0;
        @apply duration-1000 ease-linear;
    }

    .slide.active {
        @apply opacity-100;
        @apply transform scale-105;
    }

    .details-title {
        @apply text-gray-900;
        @apply text-lg font-black;
    }

    .details-text {
        @apply text-gray-500;
        @apply text-sm;
    }

    .footer-box {
        @apply bg-gray-900 px-[10%] py-4;
        @apply sticky flex items-center text-sm;
    }

}
